.fretboard {
  margin: 0 auto;
  padding: 200px 0;
  border-spacing: 0;
  .string-wrap {
    border-spacing: 0;
    box-sizing: border-box;
		&.fret-numbers {
			opacity: .25;
		}
    .string-no {
      opacity: .25;
    }

    &:nth-child(2n):not(.fret-numbers) {
      background-color: #ededed;
    }
  }
  .note {
    //border-bottom: 1px solid $border-color-light;
    border-right: 1px solid $border-color-light;
    width: 60px;
    text-align: center;
    padding: 7px 10px;
    .note-wrap {
      display: block;
      border-radius: 3px;
      width: 100%;
    }

    &.root-note {
      .note-wrap {
        background-color: $dark-color;
        opacity: .4;
        color: #fff;
      }
    }

    &.dot-fret {
      background-color: fade_out($dark-color, 0.2);
      .note-wrap {
        color: #fff;
      }
    }
  }
}
